h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
  color: #000;
}
.colored-section {
    background-color: #f1f3f8;
  }
  
  
  .big-heading {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    line-height: 1.5;
    color: #000;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
  }
  
  .nav-item {
    padding: 0 18px;
    padding-right: 10px;
  }
  
  .nav-item {
    padding: 0 18px;
    padding-right: 10px;
  }
  
  .cart ion-icon {
    padding-right: 5px;
    font-size: 20px;
    vertical-align: text-bottom;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: #000;
  }
  
  /* Title Section */
  
  #title {
    background-color: #f1f3f8;
    color: #000;
    text-align: center;
  }
  
  #title .container-fluid {
    padding: 3% 15% 1%;

  }
  

  /* Footer Section */


.social-icon {
    margin: 20px 10px;
  }
#footer{
    margin-top: 50px;

    background-color: #276678;
 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
  