body {
  font-family: "Montserrat";
  /* text-align: center; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
  color: #000;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #000;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: black;
}

.shop {
  background-color: white;
  padding-bottom: 50px;
 
}

.cartsec{
  text-align: center;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  
}

.two{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding-top: 50px;
}


.nav-item {
  padding: 0 18px;
  padding-right: 10px;
}

.cart ion-icon {
  padding-right: 5px;
  font-size: 20px;
  vertical-align: text-bottom;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #000;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #f1f3f8;
  color: #000;
  text-align: center;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 40%;
  transform: rotate(-20deg);
  position: absolute;
  right: 10%;
}

/* shopper Section */

#shopper {
  position: relative;
}

/* shop */

.shop-item-image {
  width: 320px;
  height: 200px;
}

.card {
  margin: auto;
  margin-top: 20px;
}

.pricing-header {
  max-width: 700px;
}
.inner {
  overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
}
.inner:hover img {
  transform: scale(1.5);
}


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

.white-section {
  background-color: #276678;
  margin-top: 100px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}




