
.colored-section {
  background-color: #f1f3f8;
}


.big-heading {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #000;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.nav-item {
  padding: 0 18px;
  padding-right: 10px;
}

.nav-item {
  padding: 0 18px;
  padding-right: 10px;
}

.cart ion-icon {
  padding-right: 5px;
  font-size: 20px;
  vertical-align: text-bottom;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #000;
}

/* Title Section */

#title {
  background-color: #f1f3f8;
  color: #000;
  text-align: center;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}


* {
  margin: 0;
  padding: 0;
}
.cart-page {
  margin: 80px auto;
}

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.products-container h1 {
  font-size: 25px;
  color: #d0611e;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid black;
  margin: 0 auto;
}
.product-title {
  width: 45%;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}
.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products img{
  width: 75px;
}
.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

.white-section {
  background-color: #276678;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
